@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    font-family: 'inter', 'arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20x;
}

html, body {
    background-color: #F8ECC4;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-page-error-msg {
	width: 400px;
	padding: 10px;
	margin: 10px 0 0 0;
	font-size: 13px;
	background-color: #f34646;
	color: white;
	border-radius: 12px;
	text-align: center;
}

.login-page .login-container {
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-page .login-container .login-logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}


.login-page .login-container .login-logo img {
    width: 50px;
    margin-right: 20px;
}

.login-page .login-container .login-logo h1 {
    margin: 0;
    color: #F8C107;
    font-size: 50px;
}

.login-page .login-container .login-logo span {
    color: #880015;
}

.login-page .login-container h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.login-page .login-container .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page .login-container .form-container .login-page-forget-password {
    text-align: left;
    margin-bottom: 10px; /* Adjust margin as needed */
}

.login-page .login-container .form-container .login-page-forget-password h6 {
    cursor: pointer;
    color: #880015;
    text-decoration: underline;
    margin: 0;
    font-size: 12px; /* Adjust font size as needed */
}


.login-page .login-container .form-container h6 {
    font-style: bold;
}

.login-page .login-container .form-container input {
    background-color: transparent;
    border: 1px solid #818181;
    border-radius: 12px;
    height: 35px;
    width: 400px;
}

.login-page .login-container .form-container .form-button button {
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 20px;
    color: #F8ECC4;
    background-color: #880015;
    margin-top: 12px;
    font-weight: 600;
    transition: opacity 0.2s;
}

.login-page .login-container .form-container .form-button button:hover {
    opacity: 0.7;
}

.login-page .login-container .login-or {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page .login-container .login-or hr {
    width: 190px;
}

.login-page .login-container .login-or p {
    font-size: 10px;
}

.login-page .login-container .login-btn {
    display: flex;
    flex-direction: column;
}

.login-page .login-container .login-btn button {
    width: 400px;
    height: 35px;
    font-weight: 600;
    border: 1px solid #818181;
    border-radius: 12px;
    color: black;
    background-color: #F8ECC4;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s;
}

.login-page .login-container .login-btn button:hover {
    opacity: 0.7;
}

.login-page .login-container .login-btn .login-btn-logo {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.back-button-div {
    position: absolute;
    float: left;
    top: 10px;
    left: 10px;
}

.back-btn {
    padding: 7px 12px;
    background-color: #880015;
    color: white;
    border: none;
    transition: opacity 0.2s;
}

.back-btn:hover {
    opacity: 0.7;
}