.route-modal-list {
  display: flex;
  flex-direction: column;
}

.route-modal.list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.route-detail-leg {
  border-top: 3px solid #f8c107;
  cursor: pointer;
  border-radius: 10px;
  width: 80%;
  
  margin: 10px auto;
  padding: 10px;

  transition: 0.5s;

  background: #fcfcfc;
  box-shadow:  8px 8px 14px #e4e4e4,
              -8px -8px 14px #ffffff;
} 

.route-detail-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.route-detail-leg:hover{
  background-color: lightgray;
}

.main-grid {
  cursor: pointer;
  display: flex;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 25px;

  height: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  transition: 0.5s;

  border-radius: 15px;
  background: #fcfcfc;
  box-shadow:  8px 8px 14px #e4e4e4,
              -8px -8px 14px #ffffff;
}

.main-grid:hover {
  background-color: lightgray;
}

.distance-bar-div {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 2rem;
}

.distance-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #880015;
  width: 90%;
  height: 5px;
}

.distance-marker {
  background-color: #880015;
  width: 12px;
  height: 12px;

  border-radius: 50%;
}

.distance-time {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 0 20px 0;

  justify-content: space-between;
  align-items: center;

  font-weight: bold;
}

.send-route-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.send-route-sms {
  background-color: #f8c107;
  color: black;
  border: none;
  border-radius: 5px;
  width: 140px;
  height: 30px;
  padding: auto;
  transition: opacity 0.3s;
  font-size: 12;
}

.send-route-email {
  background-color: #f8c107;
  color: black;
  border: none;
  border-radius: 5px;
  width: 140px;
  height: 30px;
  padding: auto;
  transition: opacity 0.3s;
  font-size: 12;
}

.time-and-fare {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  font-weight: bold;

  width: 100%;
  height: 3rem;
}

.origin-and-destination {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 20px 0 20px;

  justify-content: space-around;

  font-weight: bold;
}

.origin-and-destination-subtitle {
  font-weight: bold;
  font-size: 15px;
}

.origin-and-destination-name {
  font-weight: lighter;
  font-size: 13px;
}


.origin-and-destination-from {
  display: flex;
  align-items: center;
  gap: 10px;
}

.route-detail-route {
  display: flex;
  align-items: center;
  gap: 10px;
}

.route-detail-route-subtitle {
  font-weight: bold;
  font-size: 15px;
}

.route-detail-route-name {
  font-weight: lighter;
  font-size: 13px;
}

.dot-dot-dot {
  display: flex;
  flex-direction: column;

  margin-left: 5px;

  justify-content: space-between;
  height: 30px;
}

.dot {
  background-color: #f8c107;
  width: 12px;
  height: 12px;

  border-radius: 50%;
}

.list-modal {
  width: 100%;
  height: 100%;

  padding: 10px
}

.list-modal-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 5px;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 10%;

  margin-bottom: 10px;

  border-bottom: 2px solid gray;
}

.list-modal-buttons > button {
  width: 6rem;
  height: 2rem;

  border-radius: 20px;
  border: none;

  cursor: pointer;

  background-color: #f8c107;
  color: white;

  font-weight: bold;
}

.static-routes-div {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.static-routes-modal {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  padding: 10px;

  border-radius: 15px;
  background: #ffffff;
  box-shadow:  -5px 5px 20px #d4d4d4,
                5px -5px 20px #ffffff;

  height: 6rem;

  transition: 0.5s ease;
  cursor: pointer;
}

.static-routes-modal:hover {
  opacity: 0.4;
}

.static-routes-modal-text {
  display: flex;
  flex-direction: row;
}

.static-routes-modal-extra-div {
  padding: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 3rem;

  border-radius: 10px;

  background: #ffffff;
  box-shadow:  -5px 5px 20px #d4d4d4,
                5px -5px 20px #ffffff;
}

.static-route-detail-main-div {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}

.static-route-detail-leg {
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: row;

  width: 97%;
  height: 3rem;

  border-radius: 10px;

  background: #ffffff;
  box-shadow:  -5px 5px 20px #d4d4d4,
                5px -5px 20px #ffffff;

}

.circle-marker {
  width: 10px;
  height: 10px;

  border-radius: 50%;

  background-color: gray;
}