.route-modal-list {
  display: flex;
  flex-direction: column;
}

.route-modal.list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.route-detail-leg {
  border: 1px solid black;
}