@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    font-family: 'inter', 'arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20x;
}

html, body {
    background-color: #F8ECC4;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.required-asterisk {
    color: red;
}

.signup-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signup-page-success-msg,
.signup-page-error-msg {
	width: 400px;
	padding: 10px;
	margin: 10px 0 0 0;
	font-size: 13px;
	background-color: #f34646;
	color: white;
	border-radius: 12px;
	text-align: center;
}

.signup-page-success-msg {
	background-color: #5cdd5c;
}

.signup-page .signup-container .signup-logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.signup-page .signup-container .signup-logo img {
    width: 50px;
    margin-right: 20px;
}

.signup-page .signup-container .signup-logo h1 {
    margin: 0;
    color: #F8C107;
    font-size: 50px;
}

.signup-page .signup-container .signup-logo span {
    color: #880015;
}

.signup-page .signup-container {
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-page .signup-container h4 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.signup-page .signup-container .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-page .signup-container .form-container h6 {
    font-style: bold;
}

.signup-page .signup-container .form-container input {
    background-color: transparent;
    border: 1px solid #818181;
    border-radius: 12px;
    height: 35px;
    width: 400px;
}

.signup-page .signup-container .form-container .form-button button {
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 20px;
    color: #F8ECC4;
    background-color: #880015;
    font-weight: 600;
    margin-top: 12px;
    transition: opacity 0.2s;
}

.signup-page .signup-container .form-container .form-button button:hover {
    opacity: 0.7;
}
